*{
	margin: 0;
	padding: 0;
	
}
.header{
	width: 100%;
	border-bottom: 1px solid #e9e9e9;

}
.container{
	width: 1140px;
	margin: auto;
}
.nav{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu{
	padding-top: 10px;
}

.menu ul li{
display: inline-block;
list-style: none;
margin-right: 20px;
}
.menu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

	position: relative;
}

.menu ul li a::before{
	content: "";
	position: absolute;
	height: 4px;
	width: 0%;
	background: #0989fc;
	bottom: -5px;
	left: 0;
	transition: 0.5s;
}
.menu ul li a:hover::before{
	width: 100%;
	transition: 0.5s;
}
.menu ul li a::after{
	content: "";
	position: absolute;
	height: 4px;
	width: 0%;
	background: #0989fc;
	top: -5px;
	right: 0;
	transition: 0.5s;
}
.menu ul li a:hover::after{
	width: 100%;
	transition: 0.5s;
}








a{
	text-decoration: none;
	color: #5b5555;
}
.hero-section{
	text-align: center;
	padding-top: 35px;
}
.hero-section h1{
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
}
.hero-section h1 span{
	color: #0989fc;
}
.hero-section p{
	color: #533855;
	padding-top: 10px;
}

.hero-section img{
	padding-top: 25px;
	padding-bottom: 50px;
}


.text-section{
	width: 100%;
}



.textt{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 30px;
}
.text-left{
	padding-right: 20px;

}

.text-left h3{
	text-align: right;
	font-size: 40px;
	color: #ef5666;
}
.text-left p{
	text-align: right;
    color: #533855;


}
.text-right{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #081e4d;

}

.images{
	width: 100%;
	margin-top: 30px;
}



.image-section{
	display: grid;
	grid-template-columns: auto auto auto;
	padding-bottom: 50px;
	padding-right: 20px;
	transition: 0.5s;


}
.first1:hover{
	transform: translateY(-20px);
	transition: 0.5s;

}





.one{
	background: #fdedef;
}

.two{
	background: #edfaf5;
}
.three{
	background:#fff7ea;
}

.first1{
	margin-right: 25px;
	border-radius: 5px;
}

.first1 h3{
	padding-left: 30px;
	margin-bottom: 10px;
}

.first1 p{
	padding-left: 30px;
    padding-right: 10px;
	padding-bottom: 40px;
	line-height: 1.5;
}




.footer{
	width: 100%;
		background: #0989fc;
		text-align: center;
		margin-top: 20px;
}
.footer-content h1{
padding-top: 20px;
padding-bottom:20px;
color: #dfdada;
font-size: 14px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;

}

.footer-content h1 span{
	color: white;
}


/*




.first-box{
	background: #fdedef;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.second-box{
	background: #edfaf5;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.third-box{
	background: #fff7ea;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}





*/